<!DOCTYPE html>

<head>
	<title> Rails Query Analyser </title>
	<script src="./js/simpleSqlParser.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="./js/controllers.js"></script>
	<!-- <script src="./js/angular.js"></script> -->
	<!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script> -->
	<!--	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script> -->

	<link rel="stylesheet" href="./styles/style.css">
	<!--	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css"> -->
</head>

<body ng-app="queryAnalysisApp">
	<header>
		Rails Query {{'Analyz' + 'er'}}
	</header>
	<nav>
	</nav>

	<section id="log-input" ng-controller="LogInput as logi" ng-hide="logi.hide">
		<p>
			Input the log : <br/>
			<textarea name="log_input" class="log_input" ng-model="logi.railsLog"> </textarea> <br/>
			<input type="submit" name="submit" value="submit" ng-click="logi.getLog()">
		</p>
	</section>


	<section id="log-analysis" ng-controller="LogAnalysis as loga">
		<p ng-hide="!loga.tables()">
			<span>
				Select table : 
				<select id="mysql-table" name="mysql_table" ng-change="loga.selectTable()" ng-model="loga.mysqlTable">
					<option ng-repeat="table in loga.tables()">{{ table }}</option>
				</select>
			</span>
			<span ng-hide="!loga.queryTypes()">
				Select query type :
				<select id="query-type" name="query_type" ng-change="loga.selectQueryType()" ng-model="loga.tableQueryType">
					<option ng-repeat="type in loga.queryTypes()">{{ type }}</option>
				</select>
			</span>

			<div class="listing">
				<p ng-repeat="query in loga.listQ() track by $index"> 
				{{ $index + 1}} . {{ query }}
				<!--
				<p ng-repeat-start="query in loga.listQ() track by $index"> 
					<pre ng-repeat-end> {{ $index + 1}} . 
						<code class="sql">{{ query }}</code>
					</pre>
				-->
				</p>
			</div>
		</p>
	</section>

</body>

<script type="text/javascript">
	// jQuery(document).ready(function() {
	// 	window.listingChanged = false;
	// 	setInterval(function(){ 
	// 		if (window.listingChanged) {
	// 			jQuery('pre code').each(function(i, block) {
	// 		    hljs.highlightBlock(block);
	// 		  });
	// 		  window.listingChanged = false;
	// 		}
	// 	}, 5000);

	// 	jQuery('.listing').on('DOMSubtreeModified', function(event, data) {
 //   		window.listingChanged = true;
	// 	});
	// });
</script>
</html>